.retouch__images-container {
  width: 80%;
  margin: 0 auto;
}

.retouch-image {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

[class^="styles_after"],
[class^="styles_before"]
{
  background-size: contain!important;
}
